In [1]:
#Creating a set
color={"Red", "Green", "Yellow", "Black"}
print(color)

{'Black', 'Yellow', 'Green', 'Red'}

In [2]:
#Creating a set using set function
n=set((2,1,3,2,1))
print(n)

{1, 2, 3}

In [3]:
#Basic set operation
a={1,2,3}
b={3,4,5}
print(a.union(b))
print(b.union(a))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))
print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{1, 2}
{4, 5}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [6]:
#Adding a new element in a set
os={"Windows", "Linux","MacOS"}
print(os)
os.add("Unix")
print(os)

{'Windows', 'Linux', 'MacOS'}
{'Windows', 'Linux', 'Unix', 'MacOS'}

In [7]:
#Subject chosen
maths={"Ashifa","Shruthi","Jasra","Monica","Anagha"}
cs={"Threya","Shruthi","Alfhiya","Alshifa","Jasra"}
print("Students who are chosen both subjects:",maths.intersection(cs))
print("Students who are chosen either maths or cs:",maths.symmetric_difference(cs))
print("Students who are chosen maths alone:",maths.difference(cs))
print("Students who are chosen CS alone:",cs.difference(maths))
maths.add("Aslina")
print(maths)

Students who are chosen both subjects: {'Shruthi', 'Jasra'}
Students who are chosen either maths or cs: {'Ashifa', 'Monica', 'Alshifa', 'Anagha', 'Threya', 'Alfhiya'}
Students who are chosen maths alone: {'Ashifa', 'Monica', 'Anagha'}
Students who are chosen CS alone: {'Threya', 'Alfhiya', 'Alshifa'}
{'Aslina', 'Ashifa', 'Monica', 'Anagha', 'Jasra', 'Shruthi'}

In [8]:
#Updating a set
maths={"Ashifa", "Shruthi", "Jasra", "Monica", "Anagha"}
m={"Charu", "Dhakshaiyaa"}
maths.update(m)
print(maths)

{'Ashifa', 'Monica', 'Anagha', 'Dhakshaiyaa', 'Jasra', 'Shruthi', 'Charu'}

In [9]:
maths={"ram", "krishna", "ranjana", "sureka", "alfiya"} 
cs={"ram", "ranjana", "alshifa", "dhanya", "raksha"}
maths.add("akshaya")
print(maths)
dsa={"raksha"}
maths.update(dsa)
print(maths)
maths.remove("ram")
print(maths)
#cs.add(dsa) it will be a error
#print(cs)
maths.discard("krishna") #if krishna is there it will discard
maths.discard("saran") #it doest give error even "saran" is not found
#maths.remove("saran") it returns error "saran" is not found
print(maths)
s={1,2,3,34,4}
s.clear()
print(s)

{'sureka', 'ranjana', 'akshaya', 'krishna', 'alfiya', 'ram'}
{'sureka', 'ranjana', 'akshaya', 'krishna', 'raksha', 'alfiya', 'ram'}
{'sureka', 'ranjana', 'akshaya', 'krishna', 'raksha', 'alfiya'}
{'sureka', 'ranjana', 'akshaya', 'raksha', 'alfiya'}
set()

In [11]:
#Avoiding duplicates
s={'a','c','e','d','j'}
s.update('ranjana')
print(s)

{'c', 'd', 'j', 'n', 'a', 'r', 'e'}